<% include partials/header.ejs %>
    <div class="table-wrapper">
        <% if (products.length > 0) {%>
            <form class="add-player-form" action="" method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-md-3">
                                <select id="position" name="categoryName" class="form-control" required>
                                    <option selected disabled>Choose category</option>
                                    <option>Books</option>
                                    <option>Furniture</option>
                                    <option>Electronics</option>
                                    <option>Clothing</option>
                                    <option>Sports</option>
                                </select>
                    </div>
                    <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="search" id="search" placeholder="Search Product" required>
                    </div>
                    <div class="form-group col-md-3">
                            <button type="submit" class="btn btn-primary float-right">Search</button>
                    </div>
                    
                </div>
                <div class="form-row">
                        
                </div>
               
            </form>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <!-- <th scope="col">ID</th> -->
                        <th scope="col">Image</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Category</th>
                        <th scope="col">Price</th>
                        <th scope="col">Location</th>
                        <!-- <th scope="col">Action</th> -->
                    </tr>
                </thead>
                <tbody>
                    <% products.forEach((product, index) => { %>
                        <tr>
                            <!-- <th scope="row"><%= product.productId %></th> -->
                            <td><img src="/assets/img/<%= product.image %>" class="rounded-circle player-img" alt=""></td>
                            <td><%= product.title %></td>
                            <td><%= product.description %></td>
                            <td><%= product.categoryName %></td>
                            <td><%= product.price %></td>
                            <td><%= product.location %></td>
                            <!-- <td>
                                <a href="/editProduct/<%= product.productId %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Edit</a>
                                <a href="/deleteProduct/<%= product.productId %>" class="btn btn-sm btn-danger">Delete</a>
                            </td> -->
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center">No Products found. Go <a href="/addProduct" >here</a> to add products.</p>
        <% } %>
    </div>
</div>
</body>
</html>